body {
 //font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
 font-family: Georgia, Serif;
}

.label {
  font-size: .6em;
  fill: 'black';
}

.title {
  font-size: 1.3em;
  fill: 'black';
}

.toggle {
  font-size: 40px;
  cursor: pointer;
}


.center {
  text-align: center;
}

h6 {
  margin-top: -10px;
}

.chart-rect {
  fille: 'black'
}


